@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap'); 

.container {
    margin: 0 auto;
    width: 600px;
    background-color:#ffefd7 ;
    padding: 1em;
    border: #525252 8px dotted;
    
}

body {
    background-image: url(../images/backgroundweb.jpg);
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3rem;
    color: #e97110;
    border-bottom: solid 20px #e97110;
}

h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size: 2rem;
}

h3 {
        font-family: 'Lato', sans-serif;
        font-weight: 100;
        font-size: 1.5rem;
}

p {
    color: #a52a2a;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size: 1rem;
}
.p2{
color: #153508;
}

video {
    width: 600px;
}

img {
    width: 600px;
}

.logo {
    width: 40px;
}

/* Aquí inicia navegación*/

ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

li{
    font-family: 'Montserrat', sans-serif;
    list-style: none;
    padding: .5rem 1rem;
}

a {
    text-decoration: none;
    color: #000000;
}

nav ul li:hover {
    background-color: rgb(255, 174, 0);
    color: #fff8dc;
}