html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  .container {
      width: 610px;
      height: 100vh;
      margin: 0 auto;
      background-color: #cfcfcf6e;
      position: relative;
  }

h1,p,li {
    font-family: 'Roboto', sans-serif;
}

  h1 {
      font-size: 3rem;
      padding: 1rem;
    font-weight: lighter;
      text-align: center;
  }

  footer{
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      background-color: black;
      color: white;
      padding: 1rem;
      text-align: center;
  }


